<html lang="zh">
   <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <title>大琳惏coding|icode爱生活</title>
       <meta name="Keywords" content="前端">
       <meta name="Description" content="延琳笔记 前端技术 博客 钟延琳">
       <link rel="stylesheet" type="text/css" href="/file/style.css">
   </head>
   <body>
    <header>
      <h1>延琳笔记</h1>
      <p>一个前端技术博客～～</p>
      <a href="https://github.com/yanlin0">view in github</a>
      <img src="/file/header.jpeg" alt="">

    </header>
    {{content}}
   </body>
<html>