<html lang="zh">
   <head>
       <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       <title>{{page.title}}</title>
       <link rel="stylesheet" type="text/css" href="https://yanlin0.github.io/blog/file/style.css">
   </head>
   <body>
    <div class="header" >
      <p>
        <a class="back-icon" href="{{ site.baseurl }}/index.html">&lt;&lt;Go back
        </a>
      </p>
      <img src="https://yanlin0.github.io/blog/file/header.jpeg" alt="">
      <h1>大琳惏coding</h1>
      <p>icoding爱生活</p>
    </div>
    <article>
      {{content}}
    </article>
    
    <!-- <footer>
      <p>footer</p>
    </footer> -->
   </body>
<html>